@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container{
        padding: 0;
    }

    .home__img{
        width: 320px;
        height: 320px;
    }
    .home__social{
        transform: translateX(-6rem);
    }

    .services__container{
        grid-template-columns: repeat(3, 238px);
    }

    .portfolio__content{
        gap: 3rem;
    }
    .swiper-next{
        margin-right: -2rem;
    }
    .swiper-prev{
        margin-left: -2rem;
    }

    .contact__form{
        width: 460px;
    }
    .contact__inputs{
        grid-template-columns: repeat(2, 1fr);
    }
}